


// Draw transparent black background
div.modal-dialog-background {
  @include animation(0, 0.4s, fadein);
  background-color: rgba(80%, 80%, 80%, 0.8);
  height: 100%;   // Fixes background display on iPad
  left: 0;
  position: fixed;
  // @include radial-gradient(50% 40%, circle cover, hsla(0, 0%, 0%, 0.20) 20%, hsla(0, 0%, 0%, 0.25) 35%, hsla(0, 0%, 0%, 0.7) 100%);
  top: 0;
  width: 100%;
  z-index: 9998;

  //iPad [portrait + landscape] - Fix background not covering entire document on scroll
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    background: hsla(0, 0%, 0%, 0.4); // remove gradient
    height: 200%;
  }

  
}
div.modal-dialog-background.hidden {
  display: none;
}

div.modal-dialog {
  $dialog-width: 800px;
  // @extend .animation-zoom-in;    // Animation-keyframes
  background: hsl(0, 0%, 100%);
  @include border-radius(5px);
  border: 1px solid hsla(0%, 0%, 0%, 0.75);
  @include box-shadow(0px, 6px, 26px, 0px, hsla(0%, 0%, 0%, 0.75));
  padding: 0;
  @include vertically-and-horizontally-centered(100px, $dialog-width);
  width: $dialog-width;
  z-index: 9999;
  
  div.modal-dialog-header {
    width: 100%;
    padding: 5px;
    // background-color: $primary-color-dark;
    color: $dark-text-color;
  }
 

  div.inner-wrapper {
    padding: 18px;
    padding-bottom: 15px;

    p {
      font-family: $base-font-family;
    }
  }

  div.buttons {
    padding: 10px 20px 12px;
    background-color: $dark-text-color;
    @include border-radius(5px);

    button {
      font-size: 16px;
      display: inline-block;
      @include border-radius(5px);
      background-color: $primary-color-dark;
      color: $light-text-color;
      margin-top: 20px;
      margin: 0;
      float: right;
    }

    button.submit {
    }
  }

}

@media screen and (max-device-width: 1000px) {
  div.modal-dialog {
    $dialog-width: 500px;
    margin-top: 0;
    top: 20px;
    @include vertically-and-horizontally-centered(100px, $dialog-width);
    width: $dialog-width;

    button, button.submit, button.cancel {
      width: auto;
      font-size: 15px;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  div.buttons {
    // @extend .clearfix;

    button, .button, input[type="submit"] {
      font-weight: bold;
    }
  }
}

@media screen and (max-device-width: 480px) {
  div.modal-dialog {
    $dialog-width: 300px;
    margin-top: 0;
    top: 20px;
    @include vertically-and-horizontally-centered(100px, $dialog-width);
    width: $dialog-width;

    button, button.submit, button.cancel {
      width: auto;
      font-size: 15px;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  div.buttons {
    // @extend .clearfix;

    button, .button, input[type="submit"] {
      font-weight: bold;
    }
  }
}

