.main-nav {
  overflow: hidden;
  background-color: $nav-background-color;
  color: $nav-text-color;
  margin: 0;
  height: 50px;
  position: fixed;
}

.main-nav a {
  text-decoration: none;
  color: $nav-text-color;
}
.main-nav a:hover {
  text-decoration: none;
  color: $nav-text-color;
}
.main-nav a:visited {
  text-decoration: none;
  color: $nav-text-color;
}

.nav-title {
  color: $nav-title-color;
  font-size: 20px;
}

.nav-item {
  float: left;
  margin: 3px;
  padding: 3px;
  font-size: 16px;
}
.nav-item:hover {
  background: $nav-item-hover;
}
.nav-item.active {
  background: $nav-item-selected;
}

.nav-item.nav-right {
  float: right;
}
