$background-color: #fff;
$dark-text-color: #333;
$light-text-color: #fff;
$base-font-family: 'Roboto', sans-serif;

$primary-color: #00F;
$primary-color-dark: #00A;
$accent-color: #300;

$login-form-size: 500px;