::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
}


.float-right {
    float: right;
}
.float-left {
    float: left;
}

a.clean-link {
    text-decoration: none;
    color: $accent-color;
}

a.clean-link:hover {
    text-decoration: none;
    color: $header-color;
}

a.clean-link:visited {
    text-decoration: none;
    color: $accent-color;
}

.column {
    float: left;
    width: 33.33%;

    &.double {
        width: 66.6%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


