.content {
  z-index: $z-content;
}
.home {
  background-color: $light-accent-color;
  width: 100%;
  height: 100%;
  z-index: $z-content;
}

.header-name {
  font-size: 20px;
}

.section-title {
  font-size: 26px;
  color: $primary-color-dark;
}
.section-title::selection {
  background: $primary-color-dark;
}
.section-title::-moz-selection {
  background: $primary-color-dark;
}

.empty-block {
  height: 200px;
}
@media screen and (max-width: 600px) {
  .empty-block  {
    height: 20px;
  }
}

.small-divide {
    @media (min-width: 480px) {
        display: none;
    }
}

footer {
  background-color: $footer-background-color;
  text-align: center;

  .nav {
    display: table;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: $accent-color;
    &:visited {
      text-decoration: none;
      color: $accent-color;
    }
    &:hover {
      text-decoration: none;
      color: $header-color;
    }
  }
  
}

.menu-rights {
  padding: 35px 0;
  p {
    text-align: center;
    font-size: 15px;
    margin: 0;
  }
}


.footer-menu {
  display: table;
  margin: 0 auto 19px;
  li {
    font-size: 20px;
    float: left;
    @media (max-width: 479px) {
      display: table;
      float: none;
      margin: 0 auto;
    }
    & + li {
      @media (max-width: 479px) {
        margin-top: 5px;
      }
      &:before {
        content: '\2022';
        float: left;
        padding: 0 13px;
        line-height: 15px;
        display: block;
        @media (max-width: 600px) {
          padding: 0 5px;
        }
        @media (max-width: 479px) {
          display: none;
        }
      }
    }
    a {
      padding: 0;
      float: left;
    }
  }
}

.social-links {
  padding: 43px 0 36px;
  border-bottom: 1px solid #fff;
  ul {
    display: table;
    margin: 0 auto;
    li {
      float: left;
      & + li {
        margin-left: 25px;
        // @media (max-width: 499px) {
        //     margin-left: 25px;
        // }
      }
      a {
        width: 48px;
        height: 48px;
        font-size: 30px;
        color: $accent-color;
        line-height: 52px;
        border-radius: 100%;
        padding: 0;
        @media (max-width: 360px) {
          width: 40px;
          height: 40px;
          font-size: 18px;
          line-height: 40px;
        }
        i {
          margin-left: 2px;
        }
      }
    }
  }
}


.pano-container {
  height: 600px;
  width: 100%;
  display: flex;
  
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

svg#panolens-view-indicator-container {
  fill: #fff;

  .st0 {
    stroke: #fff;
  }
}