img.main-profile {
  max-height: 150px;
  text-align: center;
}

nav {
  overflow: hidden;
  z-index: $z-nav;
  background-color: $nav-background-color;
}

nav .items {
  margin: auto;
  max-width: $max-width;
}

nav .items a {
  float: left;
  display: block;
  color: $nav-text-color;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  
  @media (max-width: 991px) {
    font-size: 14px;
    padding: 15px 10px;
  }
}

nav .items a:hover {
  background-color: $nav-item-hover;
  color: $nav-text-color;
}

nav .items a.active {
  background-color: $primary-color;
  color: $nav-background-color;
}
nav .items .logo {
  padding: 10px 14px;

  &.linkedin {
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 6px;
  }
  @media (max-width: 991px) {
    padding: 5px 10px;
    &.linkedin {
      padding-top: 9px;
      padding-left: 20px;
      padding-bottom: 1px;
    }
  }
}
nav .items a.logo:hover {
  background-color: $nav-background-color;
  color: $nav-text-color;
}
nav .items .nav-right {
  float: right;
}
nav .items a.name {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
nav .items a.name:hover {
  background-color: $nav-background-color;
  color: $nav-text-color;
}
nav.sticky a.name {
  visibility: visible;
  display: inline;
  opacity: 1;

  @media (max-width: 991px) {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}


.content {
  padding-top: 16px;
  padding-bottom: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
  animation: ease-in-out;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

