$background-color: #fff;
$light-background-color: #eee;
$dark-text-color: #333;
$light-text-color: #fff;
$base-font-family: 'Roboto', sans-serif;

$danger-color: #F00;
$primary-color: rgba(169, 255, 247, 1);
$primary-color-dark: rgba(22, 186, 197, 1);
$accent-color: #FD7A09;
$light-accent-color: #F7D065;

$header-color: #4B4A46;

$cbr-primary-color: #1e88e5;

$nav-background-color: #555;
$nav-title-color: $primary-color;
$nav-text-color: $light-background-color;
$nav-item-selected: $primary-color;
$nav-item-hover: #aaa;

$login-form-size: 500px;



// generated palette from:
// https://coolors.co/0c120c-57737a-a9fff7-f1faee-16bac5

/* RGB */
// $color1: rgba(12, 18, 12, 1);
// $color2: rgba(87, 115, 122, 1);
// $color3: rgba(169, 255, 247, 1);
// $color4: rgba(241, 250, 238, 1);
// $color5: rgba(22, 186, 197, 1);

